@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
	font-size: 16px;
	font-family: "Source Code Pro", sans-serif;

	/* !custom scrollbars for firefox */
	scrollbar-width: thin;
	scrollbar-color: #45eba5 #fff;
}

/* !Special scrollbars */
body::-webkit-scrollbar {
	width: 0.4rem;
}
body::-webkit-scrollbar-track {
	background-color: #fff;
}
body::-webkit-scrollbar-thumb {
	background-color: #45eba5;
}

/* !html and body styling */
html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0;
	padding: 0;
	overflow-x: hidden;

	width: 100%;
	height: 100%;

	color: #000000;
	background-color: #ffffff;
}

/* !Special text styling */
.gradient {
	background-image: linear-gradient(45deg, #163a5f, #45eba5);
	background-clip: text;
	color: transparent;

	/* *Chrome compatability */
	-webkit-background-clip: text;
}

/* !regular screen nav */
/* layout and sizing of main bar */
nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	position: fixed;
	top: 0;

	width: 100vw;
	height: 3.5rem;
	/* *Makes sure nav is always on top */
	z-index: 999999999;
	padding: 5px;

	background-color: #163a5f;
}

/* general nav links */
.nav-link {
	width: max-content;
	margin: 2px;
	padding: 1rem;

	text-decoration: none;
	color: white;
	background-color: #163a5f;
	border-radius: 0.5rem;
	font-family: "Source Code Pro", sans-serif;
}

/* nav link hover effect */
.nav-link:hover {
	color: #163a5f;
	background-color: darkgray;
}

/* nav title styling */
.nav-title {
	margin-right: auto;
	margin-left: 1.5rem;

	font-size: 3rem;
	font-family: "Lobster";
	color: white;
	text-decoration: none;
}
/* for "ProAct" part of title */
.nav-title > span {
	font-family: "Source Code Pro", sans-serif;
}

/* styles link of current page */
.nav-link.current-page {
	color: #163a5f;
	background-color: #45eba5;
}

/* menu button with large screen */
.nav-button {
	display: none;
}

/* !small screen nav */
@media screen and (max-width: 1000px) {
	/* prevents title removal */
	.navbar a:not(:first-of-type) {
		display: none;
	}

	/* displays nav button  */
	.nav-button {
		display: block;
		border-radius: 0.5rem;
		margin-right: 1rem;
		border-width: 0px;
		padding: 0.5rem;

		color: white;
		background-color: #163a5f;
	}

	/* hover effect of button */
	.nav-button:hover {
		color: #163a5f;
		background-color: white;
	}

	/* places button at top right */
	.nav-title {
		margin-right: auto;
	}

	/* !BELOW: styles for when after nav-btn is clicked */

	/* centers title when menu open */
	.navbar.responsive .nav-title {
		margin-left: auto;
		width: max-content;
	}

	/* stacks the links below the title */
	.navbar.responsive {
		flex-direction: column;
		justify-content: flex-start;

		margin: 0;
		height: fit-content;
	}

	/* displays the stacked links */
	.navbar.responsive .nav-link {
		display: block;

		text-align: center;
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
}

/* !Main content styling */

main {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3.5rem;
	/* padding: 0.5rem; */
	width: 100%;
}

/* !youtube videos */
.yt-video {
	width: 80vw;
	height: 45vw;
}

/* !references */
.references {
	display: flex;
	flex-direction: column;

	width: 80vw;
	height: max-content;
	padding: 1rem;
	margin: 1rem;
	border: 0.25rem solid #45eba5;
	border-radius: 10px;
}

.references > a {
	text-decoration: none;
	color: #0066cc;
}

/* !footer styles */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: max-content;
	padding: 1rem;

	border-top: 1rem solid #163a5f;
	background-color: #fff;
	color: #000;
}

.social-container {
	display: flex;
	width: max-content;
	align-items: space-evenly;
	justify-content: center;
}

footer a:nth-of-type(1) {
	display: block;
	background: url("../../resources/images/icon-sprite.jpg") no-repeat 80.282%
		70.492%;
	width: 32px;
	height: 33px;
}

footer a:nth-of-type(2) {
	display: block;
	background: url("../../resources/images/icon-sprite.jpg") no-repeat 39.859%
		70.109%;
	width: 33px;
	height: 32px;
}

footer a:nth-of-type(3) {
	display: block;
	background: url("../../resources/images/icon-sprite.jpg") no-repeat 9.683%
		70.492%;
	width: 32px;
	height: 33px;
}

footer a:hover {
	transform: scale(95%);
}
